<div id="<%= dom_id greg %>">
  <p>
    <strong>Name:</strong>
    <%= greg.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= greg.email %>
  </p>

  <p>
    <strong>Tel:</strong>
    <%= greg.tel %>
  </p>

</div>
