<div id="<%= dom_id cat %>">
  <p>
    <strong>Name:</strong>
    <%= cat.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= cat.email %>
  </p>

  <p>
    <strong>Tel:</strong>
    <%= cat.tel %>
  </p>

</div>
