<h1>即時新聞</h1>
<br>
<ul>
  <% @news_titles.each_with_index do |title, index| %>
    <br>
    <%= link_to ((index+1).to_s + ". " + title), titles_products_path(id: index), class: "news-link large-text" %>
    <br>
  <% end %>
</ul>



<%= link_to '返回商品列表', products_path, class: "btn btn-default" %>